body {
  padding:3.1em;
  font:0.7em/1.2 sans-serif;
  color:#777;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 1.2em;
}

p, ul, ol, table, pre, dl {
  margin:0 0 1.2em;
}


h1 {
  font-size:1.5em;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:0.6em;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:60em;
  margin:0 auto;
}

code, pre {
  font-family:Monaco, Monospace;
  color:#333;
  font-size:0.75em;
}

pre {
  padding:0.5em 1em;
  background: #f8f8f8;  
  border-radius:0.3em;
  border:0.1em solid #e5e5e5;
  overflow-x: auto;
}

header {
  width:20em;
  float:left;
  position:fixed;
}

header ul {
  list-style:none;
  height:2.5em;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:0.3em;
  border:0.1em solid #d2d2d2;
  box-shadow:inset #fff 0 0.1em 0, inset rgba(0,0,0,0.03) 0 -0.1em 0;
  width:22em;
}


header ul a {
  line-height:1;
  font-size:0.6em;
  color:#999;
  display:block;
  text-align:left;
  padding-top:0.5em;
  padding-left:0.5em;
  height:0.3em;
}

strong {
  color:#222;
  font-weight:700;
}

header li {
  width:7em;
  float:left;
  border-right:0.1em solid #d2d2d2;
  height:2.5em;
}

header ul li + li {
  width:7em;
  border-left:0.1em solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:7em;
}

section {
  width:34em;
  float:right;
  padding-bottom:4em;
}

small {
  font-size:0.4em;
}

footer {
  width:20em;
  float:left;
  position:fixed;
  bottom:4em;
}

#tab_content {height:32em; overflow:hidden;}
